{% extends 'hi6220-hikey.jinja2' %}
{% set fastboot_serial_number = '6FCAFA24003E2473' %}
{% set adb_serial_number = '6FCAFA24003E2473' %}
{% set connection_list = ['uart1'] %}
{% set connection_commands = {'uart1': 'telnet localhost 7001'} %}
{% set connection_tags = {'uart1': ['primary', 'telnet']} %}
{% set pre_power_command = 'ssh pi@<hostname> relay-module.py -c CH1 -s on' %}
{% set pre_os_command = 'ssh pi@<hostname> relay-module.py -c CH1 -s off' %}
{% set hard_reset_command = 'ssh pi@<hostname> relay-module.py -c CH3 -s reboot' %}
{% set power_on_command = 'ssh pi@<hostname> relay-module.py -c CH3 -s on' %}
{% set power_off_command = 'ssh pi@<hostname> relay-module.py -c CH3 -s off' %}
{% set soft_reset_command = 'fastboot -u -s 6FCAFA24003E2473' %}
{% set adb_command = 'adb -s 6FCAFA24003E2473' %}
{% set fastboot_command = 'fastboot -u -s 6FCAFA24003E2473' %}
{% set device_info = [{'board_id': '6FCAFA24003E2473'}] %}
{% set interrupt_prompt = 'Android Fastboot mode' %}
{% set interrupt_string = "' '" %}
{% set exclusive = 'True' %}
